<h1>MAIL</h1>
<%= javascript_include_tag 'user1', 'data-turbolinks-track' => true %>
<!-- <script type="text/javascript" src="user1.js"></script> -->
<%= link_to "email",user_mail_path, :method => :get %><br>
<%= image_tag("2.jpg", :alt => "flower",:id=>"image1",:onclick=>"change()") %>
